doctype html 
html(lang="ru")
    head 
        meta(charset="utf-8")
        title Phone Book
        link(rel="short icon" href="./src/images/sprites/title.png")
        link(rel="stylesheet" href="./src/images/mixins/image.css")
        link(rel="stylesheet" href="./src/resource/mixins/font.css")
    style 
        include ./src/css/fixed.min.css
        include ./src/css/general.min.css
    body
        #app
    script(src="./src/js/scripts/script.js")